.App {
  font-size: 16px;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 20px;
}

.Title {
  padding: 0;
}

.Select {
  display: block;
}

.Body {
  margin: 20px auto;
  max-width: 75%;
}

.Body table {
  width: 100%;
}

.Body table thead {
  font-weight: bold;
}

.Body table tbody tr:nth-child(even) {
  background: #eee;
}

.Body table tbody tr:nth-child(odd) {
  background: #fff;
}

.Body table tbody tr td img {
  display: inline-block;
  margin: 0 5px 0 0;
  max-width: 20px;
}

.Error {
  color: red;
}
